body {
    font-family: 'Work Sans', sans-serif;
    background: rgb(248, 245, 245);
}

#person {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

h1{
    font-family: 'Playfair Display', serif;
    color: rgb(145, 106, 112);
    font-weight: bolder;
    font-size: 45px;
    background-color: rgb(207, 198, 199);
    border-radius: 15%;
    text-align: center;
}

h2 {
    font-family: 'Playfair Display', serif;
    color: slategray;
    font-size: 24px;
    font-weight: bold;
    text-align:center

}