body {
    font-family: 'Work Sans', sans-serif;
    background: rgb(207, 198, 199);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

h1{
    font-family: 'Playfair Display', serif;
    color: rgb(145, 106, 112);
    font-weight: bolder;
    font-size: 45px;

}

h2 {
    font-family: 'Playfair Display', serif;
    color: slategray;
    font-size: 24px;
    font-weight: bold;

}